:host {
    .heading-component {
        height: 120px;
        .heading {
            font:  bold 65px Montserrat;

            &:before {
                content: "";
                position: absolute;
                left: auto;
                top: 0px;
                height: 1px;
                width: 20%;
                border-bottom: 10px solid #D02035;
                margin-top: 1.6em;
              }
        }
    }
}