@import '../../../variables.scss';

:host {
  width: 100%;

  input {
    font: italic calc(11px + (16 - 11) * ((100vw - 300px) / (1600 - 300))) Merriweather;
    height: 60px;
    padding: 20px;
    border: 0;
    border-radius: 0;
    outline: 0;

    &.alert-error-element {
      border: 2px solid $primary-red;
    }
  }


}
