:host {

    width: 100%;
    button {
        font: Bold  20px Merriweather;
        background-color: #D02035;
        color: white;
        height: 60px;
        width: 100%;
        padding: 10px;
        border: 0;
        border-radius: 0;

    }
}